/*

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/
header {
  width: 100%;
  margin-top: 0;
}

body {
  width:100%;
  background-color:#F2F1E8;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-around;
  align-content:center;
  position:absolute;

}

.nav-bar {
  display:flex;
  background-color: #FFFFFF;
  padding: 5px;
  position:fixed;
  justify-content:flex-start;
  width:100%;
}

.logo {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  justify-content:flex-start;
}
.nav-links {
  display:flex;
  list-style: none;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

.nav-link {
  color: #2B2F26;
  text-transform: uppercase;
  margin: 0 5px;
  padding:0 10px;
  flex-grow: 1;
}

.page-heading{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 5px;
  padding-top: 100px;
}

.header h2{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight:200;
  margin-top: 0px;
}


.products{
  list-style: none;
  display:flex;
  flex-wrap:wrap;
    justify-content: space-around;

}

.products img {

}

.products h3 {
  position: relative;
  bottom: 80px;
  color: #F2F1E8;
  background-color: black;
}

.top img{

  height:300px;
}

.bottom img{
  height: 150px;
}

#possibilities img{
flex-grow: 3;
}

#sets{
}

#textures{
}

#tea{
}

#jars{

}
#wasabi{

}
#sippin{
}

footer {
  background-color: #131511;
  color:#F2F1E8;
  padding: 10px;
  width: 100%;
}

.about {
  display: flex;
  width: 600px;
  flex-direction:column;
  font-family: font-family: 'Merriweather', serif;
  line-height: 1.5em;
}

.about h2{
  font-weight: 300;
}

.about article a {

  color: #968772;

}

#birdhouse {
  width: 100px;
  float: left;
  margin: 20px 20px 0px 0px;
}

#quote {
  border-left: 1px solid;
  border-color: #968772;
  padding-left: 15px;
  font-weight: 50;
  color:#2B2F26;
  font-style:italic;
}
#facilities {
  display: flex;
}

#shelf-space{
  float: right;
  width: 100px;
}

#shelf {
  float: right;
  font-size: 0.7em;
  line-height:normal;
}

#center {
  text-align: center;
  font-size: 3em;
  background-image:url("images/background-3.jpg");
  background-size:cover;
  background-position:right;
  color: white;
  width: 100%;
  align-self:center;
  padding: 40px 0;

}

.plans {
  padding: 0;
  margin-bottom: 50px;
  border-spacing: 0px;
  border: .5px solid black;
  border-collapse:collapse;
}

.plans tr:nth-of-type(2n){

  background-color:#968772;
}


#table-header {
  text-align:center;
}

.plans td {
  border: .5px solid black;
  margin: 20px;
  padding: 5px 20px;
}
